{% extends "accounts/layout.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>{{ user }}'s Profile</h2>

                <ul>
                    <li>username : {{ user.username }}</li>
                    <li>email : {{ user.email }}</li>
                    <li>date_joined : {{ user.date_joined }}</li>
                </ul>

                {% with avatar_url=user.socialaccount_set.all.first.get_avatar_url %}
                    {% if avatar_url %}
                        <img src="{{ avatar_url }}" />
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
{% endblock %}
