<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.7/journal/bootstrap.min.css" />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Post Form</h1>
            <form action="" method="post">
                {% csrf_token %}
                <table class="table table-hover table-bordered">
                    {{ form.as_table }}
                </table>
                <input type="submit" class="btn btn-primary" />
            </form>
        </div>
    </div>
</div>


<script>
    var dom = document.getElementById('{{ form.user_agent.id_for_label }}');
    dom.value = navigator.userAgent;
</script>