{% extends "blog/layout.html" %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>AskDjango</h1>
            <p>여러분의 파이썬/장고 페이스메이커가 되어드리겠습니다.</p>
            <p>
                <a class="btn btn-primary" href="https://fb.com/groups/askdjango">
                    AskDjango 페이스북 그룹
                </a>
                <a class="btn btn-primary" href="https://nomade.kr/vod/">
                    AskDjango VOD
                </a>
            </p>
        </div>

        <div class="row">
            <div class="col-sm-12">

                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>title</th>
                            <th>author</th>
                            <th>updated_at</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in post_list %}
                            <tr>
                                <td>{{ post.id }}</td>
                                <td>
                                    <a href="{% url "blog:post_detail" post.id %}">{{ post.title }}</a>
                                    {% for tag in post.tag_set.all %}
                                        <span class="label label-info">{{ tag.name }}</span>
                                    {% endfor %}
                                </td>
                                <td><small>by {{ post.user }}</small></td>
                                <td><small>at {{ post.updated_at }}</small></td>
                                <!--
                                <td>
                                    {{ post.comment_set.all }}
                                </td>
                                -->
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>


{% endblock %}
